/*

font-family: 'Titillium Web', sans-serif;
font-family: 'Courgette', cursive; (Brand)
font-family: 'PT Serif', serif; (Menu)

*/

/*
red #93241D (147,36,29) (nav)
white #F8F8F8 (248,248,248) (body)
light grey #E6E4E5 (230,228,229)
mild grey #B6B4B5 (182,180,181)
black #524E4D (82,78,77)

http://www.color-hex.com/color-palette/32601
*/

body{
  padding-top: 50px;
  font-family: 'Titillium Web', sans-serif;
  /*background: #f8f8f8;*/
  background: url('../img/main-bg-white.jpg');
}


/*Nav Styles*/

.navbar-default {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000 95%,#ff3232 90%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000 95%,#ff3232 90%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000 95%,#ff3232 90%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000 95%,#ff3232 90%); /* Standard syntax */
  border: none;

}


nav .navbar-brand p{
  color: #ff0000;
  font-family: 'Courgette', cursive;
  font-size: 40px;
  text-shadow: 0 0 20px #fff;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 17px;
  font-family: 'PT Serif', serif;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff0000;
}


/*About ME Style*/
.jumbotron{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#413e3d 98%,#ff3232 10%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#413e3d 98%,#ff3232 10%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#413e3d 98%,#ff3232 10%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#413e3d 98%,#ff3232 10%); /* Standard syntax */
  border: none;
}

.jumbotron img{
  width: 300px;;
  border-radius: 50%;
  border: 5px solid #93241D;
}

.jumbotron .about{
  background: rgba(147,36,29, 0.5);
  border-radius: 30px;
  color: #F8F8F8;
  text-shadow: 0 0 2px #000;
}

.about a {
  color: red;
  text-align: 0 0 5px #E6E4E5;
}

.about a:hover,
.about a:focus{
  text-decoration: none;
  color: #B6B4B5;
}

/*Portfolio Style*/
.thumbnail{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#524e4d 98.5%,#000 10%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#524e4d 98.5%,#000 10%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#524e4d 98.5%,#000 10%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#524e4d 98.5%,#000 10%); /* Standard syntax */
  border: none;
}



.portfolio div{
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.portfolio img{
  width: 500px;
}

/*Price Section*/
.panel > .panel-heading {
    background-image: none;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#524e4d 98.5%,#ff3232 10%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#524e4d 98.5%,#ff3232 10%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#524e4d 98.5%,#ff3232 10%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#524e4d 98.5%,#ff3232 10%); /* Standard syntax */
    color: #F8F8F8;
}
.panel{
  background: #E6E4E5;

}
.panel a{
  text-decoration: none;
}
.panel a:hover{
  color: #B6B4B5;
}
/*Form SectioN*/

input, textarea{
  width: 85%;
}

textarea {
    resize: none;
}
form{
  padding-left: 15%;
  padding-bottom: 5%;
  font-size: 17px;
}
h4{
  font-size: 30px;
}
.contact-form{
  background: #B6B4B5;
  border-radius: 40px;
  border: 2px solid #524E4D;
}

.sent-email{
  text-align: center;
  font-size: 30px;

}
/*Footer Section*/
.footer{
  text-align: center;
  background-image: none;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ff3232 10%, #524e4d 98.5%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ff3232 10%, #524e4d 98.5%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ff3232 10%, #524e4d 98.5%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ff3232 10%, #524e4d 98.5%); /* Standard syntax */
  color: #F8F8F8;
  height: 100%;
  padding: 0.1%;
}
