/*

font-family: 'Titillium Web', sans-serif;
font-family: 'Courgette', cursive; (Brand)
font-family: 'PT Serif', serif; (Menu)


*/


body{
  padding-top: 50px;
  background: #000;
  font-family: 'Titillium Web', sans-serif;
}
#contact{
  padding: 2%;
}


/*Nav Styles*/

.navbar-default {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000 95%,#ff3232 90%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000 95%,#ff3232 90%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000 95%,#ff3232 90%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000 95%,#ff3232 90%); /* Standard syntax */
  -webkit-box-shadow: 0px 0px 6px 5px rgba(255,0,0,1);/* For Safari 5.1 to 6.0 */
  -o-linear-shadow: 0px 0px 6px 5px rgba(255,0,0,1);/* For Opera 11.1 to 12.0 */
  -moz-box-shadow: 0px 0px 6px 5px rgba(255,0,0,1); /* For Firefox 3.6 to 15 */
  box-shadow: 0px 0px 6px 5px rgba(255,0,0,1); /* Standard syntax */
  border: none;

}


nav .navbar-brand p{
  color: #ff0000;
  font-family: 'Courgette', cursive;
  font-size: 40px;
  text-shadow: 0 0 20px #fff;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 17px;
  font-family: 'PT Serif', serif;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff0000;
}


/*About ME Style*/

.about-me img{
  width: 300px;
  border:  3px solid #000;
  border-radius: 120px;
}

.jumbotron{
  background: url('../img/background_red.png') repeat center;
  background-size: 100px;
}

.about{
  background: #000;
  color: #fff;
  border-radius: 50px;
  padding: 1.5%;
}

.about a{
  color: #ff4c4c;
}
.about a:hover{
  color: #00ff00;
  text-decoration: none;
}
